packages/
node_modules/
dist/
build/
coverage/
go.mod
go.sum
*.log
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
*.bak
*.tmp
*.cache
*.zip
*.tar.gz
*.tgz
*.env
*.env.local
*.env.development
*.env.test
*.env.production
*.pem
*.key
*.crt
*.pfx
*.cer
*.csr
*.der
*.jks
*.p12
*.keystore